html, body, div{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.rsnp_view{
   
}

.topbar{
    width: 100%;
    background: #2c2c2c;
    height: 40px;
}


.preserve{
    white-space:pre-wrap;
}

@charset "utf-8";
/* 52framework General StyleSheet - contains styles for all the HTML elements this framework supports */

body {
  background:#fff;
  color:#000;
  font:12px Arial, Helvetica, sans-serif;
  position:relative;
}


/* ** ** Common Addative Classes ** ** */
.fixed60perc {width: 60%}
.left, .float_left  { float:left    }
.right, .float_right { float:right  }
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}
.clear-left, .clear_left { clear:left; } .clear-right, .clear_right { clear:right; }
.hide  { display:none   } .block {display:block !important;} .inline {display:inline !important;}

.align_right    { text-align:right;   }
.align_left     { text-align:left;    }
.align_center   { text-align:center;  }
.align_justify  { text-align:justify; }

.bold {font-weight:600;}
.italic {font-style:italic;}

a { color:#525252;  }
a:hover, a:focus { text-decoration:underline;}
a:active, a:visited { }

blockquote {
        font-family: Georgia,"Times New Roman", Times, serif; 
        margin:5px; 
        padding:10px;
        font-size:1.52em; 
        color:#999; 
        font-style:italic; 
        line-height:1.3em; 
        width:100%; 
        quotes:none;
    }
    blockquote.left {border-right:1px dashed #ccc; width:35%;} /* float blockquote left, and set width */
    blockquote.right {border-left:1px dashed #ccc; width:35%;} /* float blockquote right and set a width */

/* ** ** Header Styles ** ** */
h1, h2, h3, h4, h5 {padding:10px; margin:0 0 0.5em; line-height:1.1em;}
h1 {    font-size:1.5em;} 
h2 {    font-size:1.4em;} 
h3 {    font-size:1.3em;} 
h4 {    font-size:1.2em;} 
h5 {    font-size:1.1em;} 
h6 {    font-size:1.05em;}

/* ** ** ul li's ** ** */
ul{
  list-style:outside disc;
}
ul,ol{
  margin:0 0 1.5em 1.5em;
  padding:0;
}
li ul,li ol{
  padding:0;
  margin:0 0 1.5em 1.5em;
}


/* ** ** custom select color ** ** */
::selection {
    background: #7583cc; /* Safari */
    }
::-moz-selection {
    background: #7583cc; /* Firefox */
    color:#fff;
}
/* ** ** paragraph styling ** ** */
p {margin:0 0 1.52em;}



table{
    border-collapse:collapse;
    margin:0px;padding:0px;
  box-shadow: 5px 6px 3px #b5b0b0;
  border:1px solid #ffffff;
  
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-left-radius:10px;
  border-bottom-left-radius:10px;
  
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-right-radius:10px;
  border-bottom-right-radius:10px;
  
  -moz-border-radius-topright:10px;
  -webkit-border-top-right-radius:10px;
  border-top-right-radius:10px;
  
  -moz-border-radius-topleft:10px;
  -webkit-border-top-left-radius:10px;
  border-top-left-radius:10px;

}


.container{
    margin-left: 30px;
    padding:10px;
	min-height:600px;
}

#sidebar{
    padding:20px;
    width:200px;
    float:right;
}
.tiptext {
    background:#ccc;
    border: 1px #333 solid;
    padding:5px;
    width:100px;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    background:black;
    width:200px;
    height:200px;
}

tr:last-child td:last-child {
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-right-radius:10px;
  border-bottom-right-radius:10px;
}
table tr:first-child td:first-child {
  -moz-border-radius-topleft:10px;
  -webkit-border-top-left-radius:10px;
  border-top-left-radius:10px;
}
table tr:first-child td:last-child {
  -moz-border-radius-topright:10px;
  -webkit-border-top-right-radius:10px;
  border-top-right-radius:10px;
}
tr:last-child td:first-child{
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-left-radius:10px;
  border-bottom-left-radius:10px;
}
tr:hover td{background-color:#eff1f2;}

td{
  vertical-align:middle;
  
  background-color:#ddd;

  border:1px solid #ffffff;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:10px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}tr:last-child td{
  border-width:0px 1px 0px 0px;
}tr td:last-child{
  border-width:0px 0px 1px 0px;
} tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
tr:first-child td{
    background:-o-linear-gradient(bottom, #a7a7a7 5%, #acacac 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8e8e8e), color-stop(1, #a7a7a7) );
  background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");  background: -o-linear-gradient(top,#0057af,0057af);

  background-color:#a2a2a2;
  border:0px solid #ffffff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #a0a0a0 5%, #a0a0a0 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a8a8a8), color-stop(1, #a7a7a7) );
  background:-moz-linear-gradient( center top, #acacac 5%, #0057af 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a3a3a3", endColorstr="#989898");  background: -o-linear-gradient(top,#0057af,0057af);

  background-color:#aaa;
}
tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}