
#sidebar{
    padding:20px;
    width:200px;
    float:right;
}
.tiptext {
    background:#ccc;
    border: 1px #333 solid;
    padding:5px;
    width:100px;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    background:black;
    width:200px;
    height:200px;
}