<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>$title</title>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src='../js/rsnp.js'></script>
    <script type="text/javascript" src='../js/tablesorter.js'></script>
    <script type="text/javascript" src='../js/tfbs.js'></script>

    <meta charset="utf-8">
    <link rel="stylesheet" href="../main.css">
    </head>
<body>
    <div class="topbar">
            <div class="logo">
                <a href="http://emboss.abc.hu/rsnpdb/"><img src="../logo2.png" alt="logo" height="40"></a>
            </div>
    </div>
    <div>
        <p id="sidebar">
            A Single Nucleotide - polymorphism (SNP, pronounced snip; plural snips) is a DNA sequence variation occurring when a Single Nucleotide — A, T, C or G — in the genome (or other shared sequence) differs between members of a biological species or paired chromosomes. For example, two sequenced DNA fragments from different individuals, AAGCCTA to AAGCTTA, contain a difference in a single nucleotide. In this case we say that there are two alleles. Almost all common SNPs have only two alleles. The genomic distribution of SNPs is not homogenous; SNPs occur in non-coding regions more frequently than in coding regions or, in general, where natural selection is acting and fixating the allele of the SNP that constitutes the most favorable genetic adaptation. Other factors, like genetic recombination and mutation rate, can also determine SNP density.
        </p>
    </div>
<h1>$title</h1>
